@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Suppliers Management System</h4>
    <p>Manage your hotel, flight, and attraction suppliers.</p>
    <p>Add, edit, or remove supplier details easily.</p>
</div>